<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/output.css">
    <title>TodoApp</title>
</head>
<body>
    <main class="flex flex-row font-mono">
        <nav class="flex flex-col w-15 bg-neutral-700 h-screen">
            <div class="text-center text-neutral-300 text-2xl bg-neutral-700 h-10 flex items-center justify-center border-b-2 border-solid border-neutral-300">
                <div class="mr-1 mt-1 block w-3 h-3 bg-red-800"></div>
                Inbox
            </div>
            <div class="mt-4 ml-8 border-l-2 border-solid border-red-800 h-fit">
                <ul class="flex flex-col h-fit pl-2">
                    <a class="text-xl text-neutral-300 hover:underline cursor-pointer">Today</a>
                    <a class="text-xl text-neutral-300 hover:underline cursor-pointer">Upcoming</a>
                    <a class="text-xl text-neutral-300 hover:underline cursor-pointer">All</a>
                </ul>
            </div>
        </nav>
        <div class="flex flex-col w-85">
            <div class="bg-neutral-300">
                <h1 class="text-center text-3xl font-semibold title h-10">Today</h1>
            </div>
            

        </div>
    </main>


    <script src="/src/scripts/load.js"></script>
</body>
</html>