<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/src/css/output.css">
        <script src="/src/scripts/load.js"></script>
        <title>TodoApp</title>
    </head>
<body>
    <main class="flex font-mono" onload="loadTodos()">
        <nav class="flex-col w-15 bg-neutral-700 h-screen min-w-max">
            <div class="bg-neutral-700 h-10 flex items-center justify-center border-b-2 border-solid border-neutral-300">
                <div class="mr-1 mt-1 block w-3 h-3 bg-red-800"></div>
                <span class="text-center text-neutral-300 text-xl md:text-2xl">InBox</span>
            </div>
            <div class="mt-4 ml-2 md:ml-8 border-l-2 border-solid border-red-800 h-fit">
                <ul class="flex flex-col h-fit pl-2 justify-center">
                    <a class="md:text-lg text-sm text-neutral-300 hover:underline cursor-pointer">Today</a>
                    <a class="md:text-lg text-sm text-neutral-300 hover:underline cursor-pointer">Upcoming</a>
                    <a class="md:text-lg text-sm text-neutral-300 hover:underline cursor-pointer">All</a>
                </ul>
            </div>
        </nav>
        <div class="flex flex-col w-full h-fit">
            <div class="bg-neutral-300">
                <h1 class="text-center md:text-3xl text-2xl title h-10 ml-5">Today</h1>
            </div>
            
            <div class="flex flex-col items-center mt-5 card-container">
                
                <div class="flex flex-row min-w-fit w-40 h-10 border-2 border-solid border-neutral-400">
                    <input class="focus:outline-none text-sm lg:text-lg text-center h-full min-w-fit" placeholder="..." onchange="crossOut">
                    <div class="flex items-center justify-center h-full border-l-2 border-solid border-red-600">
                        <input class="w-8 h-4" type="checkbox" name="check">
                    </div>
                </div>

                
            </div> 
            <input class="w-10 h-10 mt-5 ml-20 lg:ml-40 border-solid border-2 border-red-600 self-center cursor-pointer rounded-full" 
            type="button" value="+" onclick="createTodo()">
        </div>
    </main>
    
    
    <script src="/src/scripts/script.js"></script>
</body>
</html>